/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-custom-block-btlo-node {

	border: 1px solid lightgray;
	display: block;

	.is-selected {
		border: 1px dotted #000000;
	}
}
